{% extends "layout.html" %}


{% block body %}
<div class="container jumbotron" style="background-color:cadetblue;">
  <h1>Print("Blog! Blog! Blog!")</h1>
  <hr>
  <p>Knowledge is beautiful when you share :)</p>
</div>
<main role="main" class="inner cover">
  <h3 class="cover-heading">People who can share knowledge is wise!</h3>
  <p class="lead">Knowledge bornes new questions and creates bright ways.</p>
  <p class="lead">Knowledge is hunger. Insatiable curiosity is an impulse which improve people to always forward.</p>
  <p class="lead">
    <a href="/articles" class="btn btn-lg btn-warning">Let's! go Learn new things! :)</a>
  </p>
</main>
</div>
{% endblock body %}